[submodule ".registry"]
	path = .registry
	url = https://github.com/timteafan/universe
	shallow = true
	branch = HEAD
[submodule "dplyover"]
	path = dplyover
	url = https://github.com/timteafan/dplyover
	shallow = true
	registered = true
[submodule "loopurrr"]
	path = loopurrr
	url = https://github.com/timteafan/loopurrr
	shallow = true
	registered = true
