[submodule ".registry"]
	path = .registry
	url = https://github.com/timteafan/timteafan.r-universe.dev
	branch = HEAD
[submodule "dplyover"]
	path = dplyover
	url = https://github.com/timteafan/dplyover
[submodule "hugodownplus"]
	path = hugodownplus
	url = https://github.com/timteafan/hugodownplus
[submodule "loopurrr"]
	path = loopurrr
	url = https://github.com/timteafan/loopurrr
